@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../node_modules/font-awesome/css/font-awesome.css'
@import '../node_modules/highlight.js/styles/default.css'

body
  // Override bootstrap's CSS
  a
    color: #337ab7
  pre
    code.hljs
      padding: 1em
      border-radius: 4px
    //   word-wrap: normal
    //   white-space: pre

  blockquote
    font-size: 14px
    background-color: #f9f9f9

  div.container
    margin: 100px auto
    div.row
      div.col-md-8
        h1
          margin-bottom: 100px
          font-family: "Open Sans"
          font-size: 20px
          font-weight: bold
          a
            color: #333
          a:hover
            text-decoration: none
            color: #999
        >footer
          margin: 40px 0 0
          padding: 40px 0 0
          border-top: solid 1px #999
  div.container.index,
  div.container.list
    div.row
      div.col-md-8
        section
          margin-bottom: 20px
          > a
            font-size: 120%
          div.meta
            color: #999
        footer
          span.postmeta
            display: none
  div.container.index
    div.row
      div.col-md-8
        div.top
          width: 600px
          height: 413px
          margin: 0 auto 80px
          background: url("/assets/img/main.png") no-repeat center center
          animation-name: anime
          animation-duration: 0.5s
          animation-timing-function: ease
          animation-direction: normal
  div.container.article
    div.row
      div.col-md-8
        section
          article
            margin: 100px auto
            h3
              margin: 40px 0 20px
            p
              a
                margin: 0 0.2em
        div.share
          div.twitter-share,
          div.fb-like,
          div.hb-button
            float: left
            margin-right: 0.8em
          div.fb-like
            span
              // Fix for FB button valign
              vertical-align: baseline !important;
        footer
          div.meta
            font-size: small
