@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../node_modules/font-awesome/css/font-awesome.css'
@import '../node_modules/highlight.js/styles/default.css'

body
  // Override bootstrap's CSS
  a
    color: #337ab7
  pre
    code.hljs
      padding: 1em
      border-radius: 4px
  blockquote
    font-size: 14px
    background-color: #f9f9f9
  div.container
    margin: 100px auto
    div.row
      div
        h1
          margin-bottom: 100px
          font-family: "Open Sans"
          font-size: 20px
          font-weight: bold
          a
            color: #333
            margin: 0 0.2em
          a:first-child
            margin-left: 0
          a:hover
            text-decoration: none
            color: #999
        footer
          margin: 40px 0 0
          padding: 40px 0 0
          border-top: solid 1px #999
          font-size: small
  div.container.list
    div.row
      div
        section
          margin-bottom: 20px
          > a
            font-size: 120%
          div.meta
            color: #999
        footer
          span.postmeta
            display: none
  div.container.index
    div.row
      div
        div.top
          width: 600px
          height: 413px
          margin: 0 auto 80px
          background: url("/images/main.png") no-repeat center center
          animation-name: anime
          animation-duration: 0.5s
          animation-timing-function: ease
          animation-direction: normal
  div.container.article
    div.row
      div
        section
          article
            margin: 100px auto
            h3
              margin: 40px 0 20px
        div.share
          div.twitter-share,
          div.fb-like,
          div.hb-button
            float: left
            margin-right: 0.8em
          div.fb-like
            span
              // Fix for FB button valign
              vertical-align: baseline !important;

body.photo
  div.container.article
    div
      div
        section.post
          font-family: 'Times New Roman', serif
          text-align: center
          h2
            margin: 10em auto
            small
              margin-top: 10px
              font-size: 1rem
              color: #aaa
              display: block
          h3,
          p
            margin: 6em auto 0
          >div
            margin: 60px auto
  div.container.list
    div.row
      div
        div.container
          div.row
            div.col-md-6
              display: flex
              section
                font-family: 'Times New Roman', serif
                text-align: center
                width: 555px
                a
                  color: #373a3c
                  display: block
                a:hover
                  text-decoration: none
                  opacity: 0.8
                div.meta
                  time
                    font-size: 1rem
                h3
                  margin: 1em auto
                  small
                    margin-top: 10px
                    font-size: 1rem
                    color: #aaa
                    display: block
        footer
          margin-top: 6em
